<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="V1.mapper.OrderReadMapper">
  <resultMap id="BaseResultMap" type="V1.model.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_snap_shot_id" jdbcType="BIGINT" property="goodsSnapShotId" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_snap_shot_id, price, goods_name, `status`, create_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getTop100Order" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from `order` order by id desc limit 100;
  </select>
</mapper>